<!--The content below is only a placeholder and can be replaced.-->
<div class="mat-app-background">
    <mat-toolbar color="primary">
        <span>material-tutorial</span>
      </mat-toolbar>

  <app-top-nav>
      <h1>
          Welcome to {{ title }}!
        </h1>

        <app-sign-up-or-in></app-sign-up-or-in>
        <form class="tp-form">
          <h2 class="tp-h2">AutoComplete Select</h2>
          <p>This control gives you an autocomplete list as you type in a US State name. For example type 'M' and the list shows
            the states that start with 'M'. Then type 'A' and see that the list is filtered to states that start with 'MA'
          </p>
          <mat-form-field class="tp-full-width">
             <input type="text"
                placeholder="US State"
                aria-label="US State"
                matInput
                [formControl]="autoCompleteStateInput"
                [matAutocomplete]="auto">
             <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let state of filteredStates" [value]="state.value">
                   {{state.display}}
                </mat-option>
             </mat-autocomplete>
          </mat-form-field>
          <h2 class="tp-h2">Date Chooser</h2>
          <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateInput)="dateChanged($event)"
                (dateChange)="dateChanged($event)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi=false #picker></mat-datepicker>
           </mat-form-field>
           <div class = "tp-container">
              <mat-form-field appearance="standard">
                 <input matInput placeholder="Input">
                 <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                 <mat-hint>This is a hint for the input</mat-hint>
              </mat-form-field>
              <mat-form-field appearance = "fill">
                 <textarea matInput placeholder = "Textarea"></textarea>
              </mat-form-field>
              <mat-form-field appearance = "outline">
                 <mat-select placeholder = "Select">
                    <mat-option value="A"><mat-icon matSuffix>sentiment_very_satisfied</mat-icon></mat-option>
                    <mat-option value="B"><mat-icon matSuffix>sentiment_neutral</mat-icon></mat-option>
                    <mat-option value="C"><mat-icon matSuffix>sentiment_very_dissatisfied</mat-icon></mat-option>
                 </mat-select>
              </mat-form-field>
           </div>
           <mat-form-field class="tp-full-width">
              <input type="color" matInput placeholder="Favorite Color" value="#fff">
           </mat-form-field>
           <mat-form-field class="tp-full-width">
              <input type="time" matInput placeholder="Time" value="10:00 AM">
           </mat-form-field>
           <mat-form-field class="tp-full-width">
              <textarea matInput placeholder="Enter your comment"></textarea>
           </mat-form-field>
           <mat-form-field class="tp-full-width">
              <input matInput placeholder="Email" [formControl]="emailFormControl">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                 Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                 Email is <strong>required</strong>
              </mat-error>
           </mat-form-field>

           <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios" mdbInput>
              <label class="custom-control-label" for="defaultUnchecked">Default unchecked</label>
            </div>

           <mat-list #groceries>
              <h3 mat-subheader>Groceries</h3>

              <mat-list-item checkboxPosition="before" value="bananas">Bananas</mat-list-item>
              <mat-list-item checkboxPosition="before" selected value="oranges">Oranges</mat-list-item>
              <mat-list-item checkboxPosition="before" value="apples">Apples</mat-list-item>
              <mat-list-item checkboxPosition="before" value="strawberries">Strawberries</mat-list-item>
            </mat-list>
          </form>
       <p>Selected Date: {{saveTheDate}}</p>

       <h2 class="tp-h2">Checkbox configuration</h2>
       <section class="tp-section">
           <mat-checkbox class="tp-margin" [(ngModel)]="checked">Checked</mat-checkbox>
           <mat-checkbox class="tp-margin" [(ngModel)]="indeterminate">Indeterminate</mat-checkbox>
       </section>
       <section class="tp-section">
             <mat-checkbox class="tp-margin" [(ngModel)]="disabled">Disabled</mat-checkbox>
       </section>
         <h2 class="tp-h2">Result</h2>
         <section class="tp-section">
             <mat-checkbox
               class="tp-margin"
               [(ngModel)]="checked"
               [(indeterminate)]="indeterminate"
               [labelPosition]="labelPosition"
               [disabled]="disabled">
               Sample Checkbox
           </mat-checkbox>
         </section>

         <h2>Radio Buttons</h2>
         <mat-radio-group class = "tp-radio-group" [(ngModel)] = "favoriteSeason">
            <mat-radio-button class = "tp-radio-button"
               *ngFor = "let season of seasons" [value] = "season">
               {{season}}
            </mat-radio-button>
         </mat-radio-group>
         <div class = "tp-selected-value">
            Selected Season: {{favoriteSeason}}
         </div>
         <!-- from https://codepen.io/chantallexandra/pen/YgYbRX -->
         <div class="icons">
               <div>
                 <svg viewBox="0 0 24 24">
                 <path fill="#000000" d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z" />
             </svg>
               </div>
               <div>
                 <svg viewBox="0 0 24 24">
                 <path fill="#000000" d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" />
             </svg>
               </div>
               <div>
                 <svg viewBox="0 0 24 24">
                   <path fill="#000000" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" />
                </svg>
               </div>
         </div>

  </app-top-nav>


<router-outlet></router-outlet>
