
app-sign-up-or-in {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 200px;
}


.tp-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.tp-full-width {
  width: 100%;
}

.tp-h2 {
  margin: 10px;
}
.tp-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.tp-margin {
  margin: 0 10px;
}

.tp-container {
  display: flex;
  flex-direction: column;
}

.tp-container > * {
  width: 100%;
}

.tp-radio-group {
  display: inline-flex;
  flex-direction: column;
}
.tp-radio-button {
  margin: 5px;
}
.tp-selected-value {
  margin: 15px 0;
}

// from  https://codepen.io/chantallexandra/pen/YgYbRX
.icons{
  position: absolute;
  bottom: 20px;
  right: 60px;
  display: flex;
  z-index: 200;
}

.icons svg{
  width: 20px;
  height: 20px;
  padding: 0px 5px;
  
}