
app-sign-up-or-in {
  height: 300px;
}

.tp-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.tp-full-width {
  width: 100%;
}

.tp-h2 {
  margin: 10px;
}
.tp-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.tp-margin {
  margin: 0 10px;
}

.tp-container {
  display: flex;
  flex-direction: column;
}

.tp-container > * {
  width: 100%;
}

.tp-radio-group {
  display: inline-flex;
  flex-direction: column;
}
.tp-radio-button {
  margin: 5px;
}
.tp-selected-value {
  margin: 15px 0;
}

// from  https://codepen.io/chantallexandra/pen/YgYbRX
.icons{
  position: absolute;
  bottom: 20px;
  right: 60px;
  display: flex;
  z-index: 200;
}

.icons svg{
  width: 20px;
  height: 20px;
  padding: 0px 5px;

}

cc-turning-globe {
  display: inline-block;
  vertical-align: middle;
}

#earth2 {
  height: 200px;
  width: 200px;
}

#moon {
  height: 50px;
  width: 50px;
}

#mars {
  height: 100px;
  width: 100px;
}

#sun {
  height: 300px;
  width: 300px;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#logo-block {
  order: 0;
  background-image:
    linear-gradient(
      to right,
      white, #000099
    );
  min-width: 250px;
  flex-grow: 1;
  padding-top: 5px;
  padding-bottom: 5px;
}

#right-of-logo {
  order: 1;
  flex-grow: 3;
  background-color: #000099;
  
}

#logo-global {
  color: #fff;
}
#logo-office-link {
  color: #000;
}

#earth {
  height: 75px;
  width: 75px;
}

#title {
  position: absolute; 
  top: 25px; 
  left: 0; 
  z-index: 5; 
  vertical-align: middle; 
  font-size: 23px; 
  font-family: Arial, Helvetica, sans-serif; 
  font-weight: bold; 
  font-style: italic;
}